.time-bar {
  width: 100%;
  width: 20em;
  height: 2em;
  /* background-color: var(--main-color); */
  border-radius: 0.9em;
  overflow: hidden;
  border: 2px solid black;
  margin-bottom: 1em;
  transition: all 0.75s ease-in-out;
}

.progress-bar {
  background-color: red;
  height: 100%;
  transition: all 0.75s ease-in-out;
}
