.option-selector {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

.selected {
  background-color: darkgray;
}

.drink-option {
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}
